body, html
{
	background: #ebf1f2;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

#page-header 
{
	background-color: #33b5ff;
	margin: 0;
	padding: 20px 0;
	max-width: 100%;
	overflow: hidden;
	text-align: center;

	/*-moz-box-shadow: 0 2px 2px #666666;
	-webkit-box-shadow: 0 2px 2px #666666;
	box-shadow: 0 2px 2px #666666;*/
}

#page-header .logo
{
	background-image: url("/bundles/tom32isite/images/logo.png");
	background-position: center;
	background-repeat: no-repeat;

	width: 100%;
	height: 400px;
	margin: 0px auto;
}

#page-header .logo a,
#page-header .logo a:hover 
{
	color: #000000;
	text-decoration: none;
}

#page-header .logo h1
{
	padding-top: 253px;
	font-size: 32px;
	text-align: center;
	/*margin-left: -38px;*/

	transform:rotate(-10deg);
	-ms-transform:rotate(-10deg); /* IE 9 */
	-moz-transform:rotate(-10deg); /* Firefox */
	-webkit-transform:rotate(-10deg); /* Safari and Chrome */
	-o-transform:rotate(-10deg); /* Opera */
}

#page-footer 
{
	background-color: #cccccc;
	color: #d90505;
	font-family: 'Pacifico', cursive;
	text-align: center;
	font-size: 20px;
}

.fullscreen #page-footer
{
	bottom: 0;
	position: absolute;
	width: 100%;
}

#page-footer small
{
	font-size: 8px;
}

#page-footer strong
{
	font-size: 30px;
	font-weight: normal;
}

.content
{
	padding: 40px 0;
	width: 400px;
	margin: 0 auto;
}

.content_wide
{
	padding: 40px 0;
}

textarea.input-block-level
{
	margin: 20px 0;
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	text-align: center;
}

.exemples
{
	margin-top: 40px;
	color: #666666;
}

.exemples li
{
	margin: 20px 0;
}

#secrets{
	width: 100%;
	display: block;
	margin: 80px 0px;
}

#secrets .slide{
	opacity: 0;
	position: absolute;

    transition: opacity 1s;
    -moz-transition: opacity 1s; /* Firefox 4 */
    -webkit-transition: opacity 1s; /* Safari and Chrome */
    -o-transition: opacity 1s; /* Opera */
}
#secrets .slide.active{
	opacity: 1;
}

.secret{
	display: block;
	float: left;
	width: 25%;
}

.secret p
{
	padding: 40px;
}

.secret p .phrase
{
	font-style: italic;
	font-size: 24px;
	line-height: 32px;
}

.secret .left,
.secret .right {
	font-size: 42px;
	color: #999999;
}