{% extends "Tom32iSiteBundle::layout.html.twig" %}

{% block content %}

	{% if open %}
		<h3>{{ done }} secrets déjà enregistrés !</h3>

		{% set progression = (done / total) * 100 %}

		<div class="progress progress-{{ progression <= 50 ? 'danger' : ( progression >= 100 ? 'success' : 'warning' )  }} progress-striped active">
			<div class="bar" style="width: {{ progression }}%"></div>
		</div>

		<p>Vous avez jusqu'au 30 décembre inclus pour envoyer vos secret.</p>

	{% else %}
		<h2>La grande liste des secrets:</h2>

		<div id="secrets" class="unstyled">
			{% for secret in secrets %}
				<div class="secret">
					<p>{{ secret.content }}</p>
				</div>
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}