{% extends "Tom32iSiteBundle::layout.html.twig" %}

{% block content %}

<ul id="secrets" class="unstyled">
	{% for secret in secrets %}
		<li>
			<p class="secret">{{ secret.content }}</p>
		</li>
	{% endfor %}
</ul>

{% endblock %}