{% extends "Tom32iSiteBundle::layout.html.twig" %}

{% block content_class %}content_wide{% endblock content_class %}

{% block content %}
	<h2>La grande liste des secrets:</h2>

	<div id="secrets" class="">
		{% for key, secret in secrets %}

		{% if key % 6 == 0 %}<div class="slide {{ key == 0 ? 'active' : '' }}">{% endif %}
		{% if key % 3 == 0 %}<div class="row-fluid">{% endif %}

			<div class="secret span4">
				<p>
					<span class="left">&#8220;</span>
					<span class="phrase">{{ secret.content }}</span>
					<span class="right">&#8222;</span>
				</p>
			</div>

		{% if key % 3 == 2 or key == total - 1 %}</div>{% endif %}
		{% if key % 6 == 5 or key == total - 1 %}</div>{% endif %}

		{% endfor %}
	</div>
{% endblock %}

{% block body_js %}
	{{ parent() }}
	<script type="text/javascript"> $(function() { initList(); }); </script>
{% endblock body_js %}