{% extends "Tom32iSiteBundle::layout.html.twig" %}

{% block content %}

<form class="form-inline">
  <input type="text" class="input-small" placeholder="Email">
  <button type="submit" class="btn btn-danger">Envoyer</button>
</form>

{% endblock %}