{% extends "Tom32iSiteBundle::base.html.twig" %}

{% block head_title %}
    Mon secret contre-nature
{% endblock %}

{% block head_meta_description %}
    Mon secret contre-nature
{% endblock %}

{% block head_meta_keywords %}
    contre nature secret
{% endblock %}

{% block body_container%}
    <header id="page-header">
        <div class="logo">
            <a href="{{ path('home') }}">
                <h1>Mon secret contre-nature</h1>
            </a>
        </div>
    </header>

    <div id="content" role="main" class="{% block content_class %}content{% endblock content_class %}">
        {% block content %}
        {% endblock content %}
    </div>

    <footer id="page-footer">
        {% block footer %}
            <div class="content">
                <p>Design par <small>Cédric Aldeghéri</small> et <strong>Ilinca Jambon</strong>.</p>
                <p>Développé par Thomas Jarrand.</p>
            </div>
        {% endblock footer %}
    </footer>
{% endblock body_container %}