{% extends "Tom32iSiteBundle::base.html.twig" %}

{% block head_title %}
    Mon secret contre-nature
{% endblock %}

{% block head_meta_description %}
    Mon secret contre-nature
{% endblock %}

{% block head_meta_keywords %}
    contre nature secret
{% endblock %}

{% block body_container%}

    <header id="page-header" class="container">
        <h1 class="span4 offset4">Mon secret<br />contre-nature</h1>
    </header>

    <div role="main" class="container">
        {% block content %}
        {% endblock content %}
    </div>

    <footer id="page-footer">
    </footer>
{% endblock body_container %}